sudo: false
language: cpp

matrix:
  include:
    - name: "Linux AMD64 Clang"
      os: linux
      arch: amd64
      dist: focal
      compiler: clang
      addons:
        apt:
          packages:
            - clang-8
            - libsdl2-dev
            - python3-dev
            - glslang-tools
            - libzstd-dev
      before_install:
        - eval "CC=clang-8 && CXX=clang++-8"
      script:
        - mkdir build
        - cd build
        - cmake -DCMAKE_CXX_COMPILER=$COMPILER .. && make
        - ./test/Neko_TEST
    - name: "Linux ARM64 Clang"
      os: linux
      arch: arm64
      dist: focal
      compiler: clang
      addons:
        apt:
          packages:
            - clang-8
            - libc++8-dev
            - libsdl2-dev
            - python3-dev
            - glslang-tools
            - libzstd-dev
      before_install:
        - eval "CC=clang-8 && CXX=clang++-8"
      script:
        - mkdir build
        - cd build
        - cmake -DCMAKE_CXX_COMPILER=$COMPILER .. && make
        - ./test/Neko_TEST
    - name: "Windows MSVC"
      os: windows
      env:
        - CMAKE_PATH="/c/Program Files/CMake/bin"
        - MSBUILD_PATH="C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin"
      before_install:
        - choco install python
        - choco install vulkan-sdk
      install:
        - choco install visualstudio2019buildtools --package-parameters "--add Microsoft.VisualStudio.Component.VC.Tools.x86.x64"
      script:
        - export PATH=$CMAKE_PATH:$PATH
        - export VULKAN_SDK="/c/VulkanSDK/$(ls /c/VulkanSDK/)"
        - mkdir build && cd build
        - cmake -G "Visual Studio 16 2019" ..
        - cmake --build .
        - ./test/Debug/Neko_TEST.exe

# Don't send notifications on success
notifications:
  email:
    on_success: never

